<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gexton.xpendee">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_login"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_login"
        android:supportsRtl="true"
        android:theme="@style/Theme.Xpendee">
        <activity android:name=".AboutAppActivity"></activity>
        <activity android:name=".CategoryWiseTransactionActivity" />
        <activity android:name=".SpendingsOverviewActivity" />
        <activity android:name=".ViewImageActivity" />
        <activity android:name=".VisiblistyActivityForCategories" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".AllExpensesCategoryActivity" />
        <activity android:name=".NewBudgetActivity" />
        <activity android:name=".UpdateOrDeleteExpense" />
        <activity android:name=".AddIncomeActivity" />
        <activity android:name=".AddExpenseActivity" />
        <activity android:name=".NewWalletActivity" />
        <activity android:name=".UpdateOrDeleteCategory" />
        <activity android:name=".AddCategoryActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ManageCategories" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id_facebook" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider192519792590832"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gexton.xpendee.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

</manifest>